oroshi.event_store:
  class: Daikon\CouchDb\Connector\CouchDbConnector
  settings:
    scheme: ${secrets.couchdb.scheme}
    host: ${secrets.couchdb.host}
    port: ${secrets.couchdb.port}
    user: ${secrets.couchdb.user}
    password: ${secrets.couchdb.password}

oroshi.projection_store:
  class: Daikon\Elasticsearch6\Connector\Elasticsearch6Connector
  settings:
    scheme: ${secrets.elasticsearch.scheme}
    host: ${secrets.elasticsearch.host}
    port: ${secrets.elasticsearch.port}
    user: ${secrets.elasticsearch.user}
    password: ${secrets.elasticsearch.password}

oroshi.filesystem:
  class: Daikon\Flysystem\Connector\FlysystemConnector
  settings:
    mounts:
      local:
        adapter: League\Flysystem\Adapter\Local
        location: ${app.base_dir}/data/files
      local_tmp:
        adapter: League\Flysystem\Adapter\Local
        location: ${app.base_dir}/data/tmp_files
      migration:
        adapter: League\Flysystem\Adapter\Local
        location: ${app.base_dir}/app/migration
      fixture:
        adapter: League\Flysystem\Adapter\Local
        location: ${app.base_dir}/app/fixture

oroshi.message_queue:
  class: Daikon\RabbitMq3\Connector\RabbitMq3Connector
  settings:
    host: ${secrets.rabbitmq.host}
    port: ${secrets.rabbitmq.port}
    user: ${secrets.rabbitmq.user}
    password: ${secrets.rabbitmq.password}
    vhost: ${secrets.rabbitmq.vhost}

oroshi.message_queue.admin:
  class: Daikon\RabbitMq3\Connector\RabbitMq3AdminConnector
  settings:
    scheme: ${secrets.rabbitmq-admin.scheme}
    host: ${secrets.rabbitmq-admin.host}
    port: ${secrets.rabbitmq-admin.port}
    user: ${secrets.rabbitmq-admin.user}
    password: ${secrets.rabbitmq-admin.password}
    vhost: ${secrets.rabbitmq-admin.vhost}
