oroshi:
  logger:
    class: Oroshi\Core\Logging\LoggingService
    provisioner: Oroshi\Core\Service\Provisioner\MonologProvisioner
    settings:
      location: ${app.log_dir}/oroshi.log
    subscriptions:
      logging_sub:
        channel: logging
        transport: inproc

  crate_map:
    class: Oroshi\Core\Crate\CrateMap
    provisioner: Oroshi\Core\Service\Provisioner\CrateMapProvisioner

  connector_map:
    class: Daikon\Dbal\Connector\ConnectorMap
    provisioner: Oroshi\Core\Service\Provisioner\ConnectorMapProvisioner

  storage_adapter_map:
    class: Daikon\Dbal\Storage\StorageAdapterMap
    provisioner: Oroshi\Core\Service\Provisioner\StorageAdapterMapProvisioner

  stream_storage_map:
    class: Daikon\EventSourcing\EventStore\Storage\StreamStorageMap
    provisioner: Oroshi\Core\Service\Provisioner\StreamStorageMapProvisioner

  unit_of_work_map:
    class: Daikon\EventSourcing\EventStore\UnitOfWorkMap
    provisioner: Oroshi\Core\Service\Provisioner\UnitOfWorkMapProvisioner

  repository_map:
    class: Daikon\ReadModel\Repository\RepositoryMap
    provisioner: Oroshi\Core\Service\Provisioner\RepositoryMapProvisioner

  migration_target_map:
    class: Daikon\Dbal\Migration\MigrationTargetMap
    provisioner: Oroshi\Core\Service\Provisioner\MigrationTargetMapProvisioner

  projector_map:
    class: Daikon\ReadModel\Projector\EventProjectorMap
    provisioner: Oroshi\Core\Service\Provisioner\EventProjectorMapProvisioner

  projector_service:
    class: Daikon\ReadModel\Projector\ProjectorService
    subscriptions:
      commits_sub:
        channel: commits
        transport: inproc

  command_router:
    class: Oroshi\Core\MessageBus\CommandRouter
    provisioner: Oroshi\Core\Service\Provisioner\CommandRouterProvisioner
    commands: []
    subscriptions:
      command_sub:
        channel: commands
        transport: inproc

  message_bus:
    class: Daikon\MessageBus\MessageBus
    provisioner: Oroshi\Core\Service\Provisioner\MessageBusProvisioner
    settings:
      transports:
        inproc:
          class: Daikon\MessageBus\Channel\Subscription\Transport\InProcessTransport
        message_queue:
          class: Daikon\RabbitMq3\Transport\RabbitMq3Transport
          dependencies:
            connector: oroshi.message_queue

  job_definition_map:
    class: Daikon\AsyncJob\Job\JobDefinitionMap
    provisioner: Oroshi\Core\Service\Provisioner\JobDefinitionMapProvisioner

  http_pipeline:
    class: Oroshi\Core\Middleware\DefaultPipeline
    provisioner: Oroshi\Core\Service\Provisioner\HttpPipelineProvisioner
